* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

section {
    height: 100vh;
    background-color: #000;
    color: #fff;
}

section:nth-child(2n) {
    background-color: #fff;
    color: #000;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 50px 155px;
    text-transform: uppercase;
    list-style-type: none;
}

h1 {
    padding: 130px 45px;
    font-size: 8.2em;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    width: 40%;
    padding: 0 155px;
    font-size: 3em;
}

.title {
    padding: 100px 50px;
}

.content-screen {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 200px);
    padding: 100px 155px;
}

.content-screen:nth-child(3n) {
    flex-direction: row-reverse;
}

.content-text {
    width: 40%;
    font-size: 36px;
}

.content-image {
    max-width: 530px;
}