.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
    min-width: 100%;
}

@font-face {
    font-family: "Formula Condensed";
    src: url("../assets/fonts/FormulaCondensed-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Formula Condensed";
    src: url("../assets/fonts/FormulaCondensed-Light.woff2");
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html {
    font-size: calc(10 / 1440 * 100vw);
}

@media (max-width: 580px) {
    html {
        font-size: 4px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: calc(10 / 1440 * 1600px);
    }
    
}

body {
    max-width: 1440px;
    font-family: "Formula Condensed";
    background: url("../assets/bg_trans_grid.png");
}

a {
    color: black;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    padding: 0 30px;
}

.col-1 {
    width: calc(100% / 6);
}

.col-2 {
    width: calc(100% / 6 * 2);
}

.col-3 {
    width: calc(100% / 6 * 3);
}

.col-4 {
    width: calc(100% / 6 * 4);
}

.col-5 {
    width: calc(100% / 6 * 5);
}

.col-6 {
    width: calc(100% / 6 * 6);
}

@media (min-device-width: 581px) and (max-device-width: 1024px) {
    .tablet-col {
        width: calc(100% / 6 * 5);
    }
}

@media (min-device-width: 375px) and (max-device-width: 580px) {
    .mob-col {
        width: calc(100% / 6 * 6);
        padding: 0;
    }
}


.main-title {
    font-size: 18.8rem;
    font-weight: 400;
}

.nav {
    padding-top: 35px;
    font-size: 3.6rem;
    list-style: none;
}

li:hover {
    cursor: pointer;
}

li.active {
    text-decoration: line-through;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.body-parts-list {
    padding-top: 7rem;
    font-size: 9.6rem;

}
@media (min-device-width: 375px) and (max-device-width: 1024px) {
    .body-parts-list {
        display: flex;
        justify-content: space-between;
    }
}



.body-part:hover {
    cursor: pointer;
    animation: shake 0.25s linear;
}

@keyframes shake {
    2%, 64% {
      transform: translate(2px,0) skew(15deg);
    }
    4%, 60% {
      transform: translate(-2px,0) skew(25deg);
    }
    62% {
      transform: translate(0,0) skew(5deg); 
    }
  }

.gallery-section {
    padding-top: 4rem;
}

.about-section {
    padding-top: 135px;
    font-size: 2.5rem;
}

img:hover {
    cursor: pointer;
    filter: invert(100%);
}

.gallery-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

@media (min-device-width: 375px) and (max-device-width: 580px) {
    .gallery-nav {
        display: none;
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 30px;
    /* position: absolute;
    right: 30px; */
    font-size: 2.2rem;
}

@media (max-width: 580px) {
    .contact-section {
        font-size: 4rem;
        padding-top: 50px;
    }
}